@{
    ViewBag.Title = "outin";
}

<div class="container well">
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default">Pause</button>
        <button type="button" class="btn btn-default">Permission</button>
        <button type="button" class="btn btn-default">Conge</button>
    </div>
</div>
