@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{
    ViewBag.Title = "Forget";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-header">
                <h1>Forget <small>Password</small></h1>
            </div>
            <input class="form-control" id="focusedInput" type="text" >
            <span class="help-block">enter your email address.</span>
            <button type="button" class="btn btn-primary btn-lg">Send  <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
</div>